- content_for :title do "IRKit GUI" end
css:
  .container {
    width: 320px;
  }
  h1 img {
    width: 40px;
    height: 40px;
    position: relative;
    padding-right: 6px;
    top: -3px;
  }
  .addr {
    margin-top: -10px;
    color: #aaa;
  }
  .switches {
    margin: 20px 0;
  }
  .switches a span {
    font-size: 26px;
  }
  .switches button {
    position: relative;
  }
  .switches .glyphicon {
    left: 10px;
    top: 10px;
    position: absolute;
    font-size: 24px;
    color: #ccc;
  }
  #saveform {
    margin-top: 10px;
  }
  pre {
    font-size: 11px;
  }
	.cell {
		float: left;
		margin-right: 1.5em;
		font-size: 2em;
		color: #000000;
		width: 17em;
		overflow: hidden;
	}

h1.text-center
  img src="icon.png"
  | IRKit GUI

- addr = @addr ? @addr : "with Bonjour"
p.addr.text-center = addr

div.switches.well
  - @irkit_keys.each do |key|
    button id="#{key}" type="button" class="btn btn-primary btn-lg btn-block"
      span.glyphicon.glyphicon-play-circle
      = key

  form.form-inline#saveform action="/save" method="post" role="form"
      label.sr-only for="ir_key" ir_key
      input#ir_key.form-control name="ir_key" placeholder="Enter new name" type="text"

pre
  | $ irkit --list<br>
  = `irkit --list`


p#result class="alert alert-info" role="alert" style="display:none;"


javascript:
  $(document).on('click', '.switches button', function(){
    var ir_key = $(this).prop('id');
    $.ajax({
      type: "POST",
      url: "/",
      data: {"ir_key": ir_key},
      success: function(data) {
        $('#result').text(data).show();
      }
    });
  });
